.heroform {
    background-color: #171717;
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    background-image: url("bootstrap/img/stars.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    background-position: center;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 250px;
}

.btn-style {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(0, 255, 98);
    padding: 0px;
}

.about-style {
    padding-top: 0px;
}




