html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
    #d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
}

html {
    overflow: auto;
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
  }

/* nav component */

.iconBtn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 0.6rem;
    font-family: 'Varela Round';
    font-size: 1%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: solid black 0.1em;
    color: rgba(2, 2, 2, 0);
}

.iconBtn:hover {
    color: rgba(0, 0, 0, 0);
}

.git-icon-style {
    background-image: url("bootstrap/img/github.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: white;

    padding-top: 8.6;
    padding-right: 13.6;
    padding-bottom: 4.6;

}

.link-icon-style {
    background-image: url("bootstrap/img/linkedin.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: white;

    border-right-width: 1.188;
    border-left-width: 0.188;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-right: 17.6;
    padding-left: 7.6;
    padding-bottom: 4.6;
    padding-top: 8.6;
}

#mainNav.navbar-shrink {
    background-color: black !important;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: white !important;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: white !important;
  }

  #mainNav.navbar-shrink .nav-link {
    color: rgb(0, 132, 255) !important;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: white !important;
    border-bottom: 0.25rem solid white !important;
  }

  #mainNav .navbar-toggler {
    color: rgb(0, 132, 255) !important;
    border: 1px solid rgb(0, 132, 255) !important;
  }

/* header component */

.container-h {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.tuna {
    animation: walk-cycle 1s steps(12) infinite;
    background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
  }

  @keyframes walk-cycle {
    0% {background-position: 0 0; }
    100% {background-position: 0 -2391px; }
  }

  .foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    /* translate3d: (0,0,0); */
  }

  .foreground {
    animation: parallax_fg linear 10s infinite both;
    background:  url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
  }

  @keyframes parallax_fg {
    0% { background-position: -3584px 100%;}
    100% {background-position: 0 100%; }
  }

  .midground {
    animation: parallax_mg linear 20s infinite;
    background:  url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
    z-index: 2;
  }

  @keyframes parallax_mg {
    0% { background-position: -3000px 100%;}
    100% {background-position: 0 100%; }
  }

  .background {
    background-image:
      url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),
      url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 40s infinite;
  }

  @keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
  }

.header {
    height: 100%;
    overflow: hidden;
}

.btn-header {
    background-color: rgb(7, 7, 7);
    color: white;
    border-radius: 15px;
}


/* about section component */

#about {
    background-color: black;
    padding-bottom: 18em;
    height: 100%;
    background-image: url("bootstrap/img/tech.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 85%;
}

.hero {
    padding-top: 2em;
}

.w-img {
    border: 0.3em solid rgb(121, 120, 120);
    border-radius: 25px;
    margin-bottom: 1em;
}

.welcome {
    border: 0.3em solid rgb(121, 120, 120);
    border-radius: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 0.5em;
    background-color: rgb(63, 143, 196);
}

.w-style {
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size: 14px;
    word-wrap: break-word;
    padding: 0.8em;
}

.l-style {
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size: 14px;
    word-wrap: break-word;
    width: 90%;
}

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 5s steps(40, end);
      /* blink-caret .75s step-end infinite; */
    padding: 0.5em;
    font-size: 19px;

  }

  .typewriter h2 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /* white-space: nowrap; */
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 5s steps(40, end);
    font-size: 16px;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .contact {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .contact-span {
    background-color: rgb(63, 143, 196);
    padding: 0.25em;
    border: 0.1em solid rgb(121, 120, 120);
    border-radius: 15px;
  }

  .languages {
    border: 0.3em solid rgb(121, 120, 120);
    border-radius: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-bottom: 1em;
    background-color: rgb(63, 143, 196);
  }

  .btn-about {
    margin-top: 1em;
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 15px;
    font-size: 14px;
}


/* projects component */

.img-container {
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 36px;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.pro-img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#pro-img-text {
    color: black !important;
}

#pro-img-text:hover {
    color: white !important;
}

#pro-img-text-white {
    color: white !important;
}

#pro-img-text-white:hover {
    color: black !important;
}


#projects {
    height: 100%;
    padding-bottom: 0px;
    top: 0;
    left: 0;
    background-color: black;
}

.pro-title {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 45px;
    white-space: nowrap;
}

.pro-title-span {
    background-color: rgb(50, 168, 20);
    border-radius: 15px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#pro-anchor {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 4em;
    margin-bottom: 2em;
    background-color: rgba(252, 252, 252, 0);
}

#html {
    background-color: rgb(218, 124, 2);
}

.btn-html {
    background-color: rgb(218, 124, 2);
    color: white;
    border-radius: 15px;
    margin-right: 0.2em;
    font-size: 16px;
    padding: 1em;
    letter-spacing: 0.1rem;
}

.pro-title-html{
    background-color:  rgb(218, 124, 2);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 18px;
}

#html-anchor {
    background-color: rgb(235, 134, 2);
    width: 60%;
    margin-bottom: 4em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

#javascript {
    background-color: rgb(218, 2, 2);
}

.btn-javascript {
    background-color: rgb(218, 45, 45);
    color: white;
    border-radius: 15px;
    margin-right: 0.2em;
    font-size: 16px;
    padding: 1em;
    letter-spacing: 0.1rem;
}

.pro-title-javascript{
    background-color: rgb(218, 2, 2);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 18px;
}

#javascript-anchor {
    background-color: rgb(218, 2, 2);
    width: 60%;
    margin-bottom: 4em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#python {
    background-color: rgb(2, 150, 218);
}

.btn-python {
    background-color: rgb(2, 150, 218);
    color: white;
    border-radius: 15px;
    margin-right:0.2;
    font-size: 16px;
    padding: 1em;
    letter-spacing: 0.1rem;
}

.pro-title-python{
    background-color: rgb(29, 164, 226);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 18px;
}

#python-anchor {
    background-color: rgb(2, 150, 218);
    width: 60%;
    margin-bottom: 4em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#react {
    background-color: rgb(2, 211, 218);
}

.btn-react {
    background-color: rgb(2, 211, 218);
    color: white;
    border-radius: 15px;
    font-size: 16px;
    margin-right: 0.2em;
    margin-left: 0.1em;
    padding: 1em;
    letter-spacing: 0.1rem;
}

.pro-title-react{
    background-color: rgb(44, 213, 219);
    border-radius: 10px;
    padding: 0.5em;
    font-size: 18px;
}

#react-anchor {
    background-color: rgb(2, 211, 218);
    width: 60%;
    margin-bottom: 4em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#p-scroll {
    padding: 0.2em;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    background-image: url("bootstrap/img/code.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: white;
    color: white;
}

.pro-card {
    background-color: rgba(255, 255, 255, 0.952);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 80%;
    margin-top: 2em;
}

h4 {
    color: black;
}

#pro-para {
    color: black;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
      border-left: none !important;
    }
  }

.projects-section {
    padding: 0 !important;
  }


/* details component */

#details {
    height: 100%;
    /* overflow-y: visible; */
}

#details-style {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
    padding: 2.5em;
    padding-top: 6em;

}
